body {
    overflow-y: hidden;
    z-index: 0;
}

.signup {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    z-index: -1;

    .header {
        font-size: 40px;
        font-weight: bold;
        font-family: 'Gabarito';
        transition: all 0.5s ease-in-out;
        margin-bottom: 50px;

        .create-header,
        .login-header,
        .or-header {
            display: inline-block;
        }
    }

    .step1 {
        opacity: 0;
        transform: translateY(20%);
    }

    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        transition: all 0.8s ease-in-out;

        .title {
            font-size: 30px;
            font-family: 'Montserrat';
            font-weight: 500;
            transition: all 0.5s ease-in-out;
        }

        .subtitle {
            font-size: 20px;
            margin: 10px 0;
            font-family: 'Montserrat';
            font-weight: 400;
            transition: all 0.5s ease-in-out;
        }

        .strong {
            font-weight: bold;
            font-family: 'Gabarito';
        }


        & form {
            display: flex;
            flex-direction: column;
            margin: 10px;
            align-items: center;

            .incorrect-password{
                font-size: 15px;
                color: red;
                font-family: 'Onest';
                display: none;
            }

            .names {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 500px;
                margin: 20px 0;

                .name {
                    height: 40px;
                    width: 200px;
                    margin: 15px 0;
                    padding: 25px;
                    border-radius: 10px;
                    background-color: rgb(237, 234, 234);
                    border: none;
                    font-family: 'Onest';

                    &:focus {
                        border: 2px solid black;
                        outline: none;
                    }
                }
            }

            .password {
                height: 40px;
                width: 400px;
                margin: 15px 0;
                padding: 25px;
                border-radius: 10px;
                background-color: rgb(237, 234, 234);
                border: none;
                font-family: 'Onest';

                &:focus {
                    border: 2px solid black;
                    outline: none;
                }
            }

            .buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 500px;
                margin: 20px 0;

                .back {
                    width: 40px;
                    border: none;
                    padding: 10px 20px;
                    border-radius: 10px;
                    background-color: black;
                    color: white;
                    font-family: 'Onest';
                    transition: all 0.3s ease-in-out;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        scale: 1.02;
                    }
                }

                .continue {
                    width: 300px;
                    margin-left: 25px;
                }
            }

            .driver-card {
                height: 400px;
                width: 700px;
                margin: 20px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                .title {
                    height: 50px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Gabarito';
                    font-size: 50px;
                }

                .subtitle {
                    height: 25px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Onest';
                    font-size: 25px;
                    margin-top: 15px;
                }

                .buttons {
                    margin-top: 140px;
                }

                .skip {
                    width: 60px;
                    border: none;
                    padding: 10px 20px;
                    border-radius: 10px;
                    background-color: #e7e7e7;
                    color: black;
                    font-family: 'Onest';
                    transition: all 0.3s ease-in-out;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        scale: 1.02;
                    }
                }


            }

            /* & input[type="text"] {
                height: 40px;
                width: 400px;
                margin: 15px 0;
                padding: 25px;
                border-radius: 10px;
                background-color: rgb(237, 234, 234);
                border: none;
                font-family: 'Onest';

                &:focus {
                    border: 2px solid black;
                    outline: none;
                }
            } */

            .continue {
                width: 350px;
                border: none;
                padding: 10px 20px;
                border-radius: 10px;
                background-color: black;
                color: white;
                font-family: 'Onest';


                &:hover {
                    scale: 1.02;
                }
            }
        }

        .img-text {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 1500px;

            .img {
                height: 400px;
                width: fit-content;

                & img {
                    height: 400px;
                    width: auto;
                    object-fit: cover;
                }
            }

            .text {
                height: 200px;
                width: 400px;
                border: gray solid 1px;
            }

        }
    }

    .wallet-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;


        .wallet-card {
            display: flex;
            flex-direction: column;
            height: 250px;
            width: 375px;
            border-radius: 10px;
            background-color: rgb(3, 3, 75);
            color: white;
            padding: 35px;
            margin: 10px;
            margin: 35px auto;

            .heading {
                display: flex;
                justify-content: space-between;
                font-family: 'Onest';
                font-size: 15px;

                & img {
                    height: 40px;
                    width: auto;
                }
            }

            .card-details {
                font-family: 'Rubik';
                font-weight: 500;
                font-size: 20px;

                .card-number {
                    margin: 15px 0;
                    padding: 25px;
                    border-radius: 10px;
                    font-size: 15px;
                    font-weight: 400;
                    width: 250px;
                    height: 30px;
                    background-color: rgb(3, 3, 75);
                    border: none;
                    color: white;
                    font-family: 'Rubik';

                    &:focus {
                        border: none;
                        outline: none;
                    }
                }
            }

            .card-details-bottom {
                display: flex;
                justify-content: space-between;
                font-family: 'Onest';
                font-size: 15px;
                margin-top: 20px;
                margin-bottom: 20px;

                #expiryDate {
                    width: calc(50% - 10px);
                    height: 30px;
                    font-size: 16px;
                    border: none;
                    outline: none;
                    margin-bottom: 20px;
                    display: inline-block;
                    padding: 0 25px;
                }

                .card-expiry {
                    margin: 5px 0;
                    border-radius: 10px;
                    font-size: 15px;
                    font-weight: 400;
                    width: 30px;
                    height: 30px;
                    background-color: rgb(3, 3, 75);
                    border: none;
                    color: white;
                    font-family: 'Rubik';

                    &:focus {
                        border: none;
                        outline: none;
                    }
                }

                .card-cvv {
                    border-radius: 10px;
                    font-size: 15px;
                    font-weight: 400;
                    width: 100px;
                    height: 30px;
                    background-color: rgb(3, 3, 75);
                    border: none;
                    color: white;
                    font-family: 'Rubik';

                    &:focus {
                        border: none;
                        outline: none;
                    }
                }
            }


        }
    }

    .car-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
        margin: 5px 20px;

        .selected-car {
            border: 2px solid black
        }

        .car-card {
            display: flex;
            flex-direction: row;
            height: 130px;
            width: 550px;
            margin: 10px;
            padding: 20px;
            border-radius: 10px;
            color: #000;
            text-align: center;
            font-size: 1.2em;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            display: flex;
            justify-content: space-between;
            align-items: center;
            opacity: 1;


            &:hover {
                border: 2px solid black
            }



            .car-image {
                margin: 10px 0;
                height: 184px;
                width: 184px;

                img {
                    object-fit: cover;
                    padding: 10px;
                    width: 100%;
                    height: 100%;

                }
            }

            .car-details {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 10px;

                .car-name-capacity {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin: 5px;

                    .car-name {
                        font-size: 30px;
                        font-family: 'Gabarito';
                    }

                    .car-capacity {
                        font-size: 15px;
                        margin: 5px;
                        margin-left: 10px;
                        font-family: 'Gabarito';
                    }
                }

                .car-desc {
                    margin: 5px;
                    width: 200px;
                    font-size: 15px;
                    font-family: 'Montserrat', sans-serif;
                }


            }

            .car-price {
                font-size: 1.5em;
                font-family: 'Onest';
            }
        }
    }

    .car-buttons {
        opacity: 0;
        transform: translateY(-10%);
        transition: all 0.5s ease-in-out;
    }

    .documents {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1000px;
        height: 300px;

        .profile-picture{
            #imageUpload {
                display: none;
            }
    
            #profileImage {
                cursor: pointer;
            }
    
            #profile-container {
                width: 150px;
                height: 150px;
                overflow: hidden;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border-radius: 50%;
            }
    
            #profile-container img {
                width: 150px;
                height: 150px;
            }
        }

    }
}

@keyframes moveLeftFade {

    0% {
        transform: translateX(0%);
        opacity: 100%;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0%;
    }
}

@keyframes moveRight {

    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(200%);
    }
}

@keyframes moveRightFade {

    0% {
        transform: translateX(0%);
        opacity: 100%;
    }

    100% {
        transform: translateX(100%);
        opacity: 0%;
    }
}

@keyframes jumpAndLeft {

    0%,
    100% {
        transform: translateX(0);
    }

    10% {
        transform: translateY(-20%);
    }

    20% {
        transform: translateX(20%);
        transform: translateY(0%);
    }

    50% {
        transform: translateX(15%);
    }

    100% {
        transform: translateX(-200%);
    }
}

@keyframes jumpAndRight {

    0%,
    100% {
        transform: translateX(0);
    }

    10% {
        transform: translateY(20%);
    }

    20% {
        transform: translateX(-20%);
        transform: translateY(0%);
    }

    50% {
        transform: translateX(-15%);
    }

    100% {
        transform: translateX(18%);
    }
}