{% extends "basewelcome.html" %}

{% block head %}
<!-- REMOVE THIS META, ONLY FORT AUTO REFRESH -->
<!-- <meta http-equiv="refresh" content="7"> -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/connection.css') }}">
<script src="https://kit.fontawesome.com/4f541dc9c0.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %} Quickie | Login {% endblock %}

{% block content %}
<section class="main">
    <div class="connection">
        <div class="header">
            <span class="create-header">Create an Account <span class="or-header">or</span></span>
            <span class="login-header">Login</span>
        </div>
        <div class="main-content">

            <form class="login-form" onsubmit="handleSubmit(event)">
                <input type="email" placeholder="Enter your email address" name="email" required/>
                <input type="hidden" placeholder="Enter your password" name="password" id="password"
                    autocomplete="new-password"/>
                <p class="incorrect-password">Your credentials are incorrect!</p>
                <input type="submit" value="Continue" />
            </form>
            <!-- <div class="or">
                <div class="horizontal-line"></div>
                <div class="text">OR</div>
                <div class="horizontal-line"></div>
            </div>
            <div class="other-options">
                <div class="google-login">
                    <div class="logo">
                        <img src="../static/icons/google.png" />
                    </div>
                    <div class="text">
                        Continue with Google {{existing}}
                    </div>
                </div>
                <div class="facebook-login">
                    <div class="logo">
                        <i class="fa-brands fa-facebook fa-xl" style="color: blue;"></i>
                    </div>
                    <div class="text">
                        Continue with Facebook
                    </div>
                </div>
            </div> -->
            <div class="tos">
                By proceeding, you consent to get calls, WhatsApp or SMS messages, including by automated means, from
                Uber
                and its affiliates to the number provided.

                This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
            </div>
        </div>
        <div class="signup">
            <div class="roles">
                <div class="rider" onclick="handleRiderForm()">
                    <span>Rider</span>
                </div>
                <div class="driver" onclick="handleDriverForm()">
                    <span>Driver</span>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/connection.js')}}"></script>
{% endblock %}