{% extends "baseuser.html" %}

{% block head %}
<!-- REMOVE THIS META, ONLY FORT AUTO REFRESH -->
<!-- <meta http-equiv="refresh" content="7"> -->
<link rel="stylesheet" type="text/css" href="../static/home.css">
<script src="https://kit.fontawesome.com/4f541dc9c0.js" crossorigin="anonymous"></script>

<!-- Google maps autocompletion  -->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans+Text:500&amp;lang=en">
<script>
  "use strict";

  const CONFIGURATION = {
    "ctaTitle": "Checkout",
    "mapOptions": {"center":{"lat":37.4221,"lng":-122.0841},"fullscreenControl":true,"mapTypeControl":false,"streetViewControl":true,"zoom":11,"zoomControl":true,"maxZoom":22,"mapId":""},
    "mapsApiKey": "AIzaSyBCIJQqRBODWBiRFVNN8_QuniKcMnawuoQ",
    "capabilities": {"addressAutocompleteControl":true,"mapDisplayControl":false,"ctaControl":true}
  };

  const SHORT_NAME_ADDRESS_COMPONENT_TYPES =
      new Set(['street_number', 'administrative_area_level_1', 'postal_code']);

  const ADDRESS_COMPONENT_TYPES_IN_FORM = [
    'from',
    'to'
  ];

  function getFormInputElement(componentType) {
    return document.getElementById(`${componentType}-input`);
  }

  function fillInAddress(place, componentType) {
    function getComponentName(componentType) {
        for (const component of place.address_components || []) {
            if (component.types[0] === componentType) {
                return SHORT_NAME_ADDRESS_COMPONENT_TYPES.has(componentType) ?
                    component.short_name :
                    component.long_name;
            }
        }
        return '';
    }

    function getComponentText(componentType) {
    if (componentType === 'from' || componentType === 'to') {
        const streetNumber = getComponentName('street_number');
        const route = getComponentName('route');
        const locality = getComponentName('locality');
        const administrativeArea = getComponentName('administrative_area_level_1');
        const postalCode = getComponentName('postal_code');
        const country = getComponentName('country');

        const addressComponents = [streetNumber, route, locality, administrativeArea, postalCode, country];
        return addressComponents.filter(Boolean).join(', ');
    } else {
        return getComponentName(componentType);
    }
}
    getFormInputElement(componentType).value = getComponentText(componentType);
}

  async function fromAutocomplete() {
    const {Autocomplete} = google.maps.places;

    const autocomplete = new Autocomplete(getFormInputElement('from'), {
      fields: ['address_components', 'geometry', 'name'],
      types: ['address'],
    });

    autocomplete.addListener('place_changed', () => {
      const place = autocomplete.getPlace();
      if (!place.geometry) {
        // User entered the name of a Place that was not suggested and
        // pressed the Enter key, or the Place Details request failed.
        window.alert(`No details available for input: '${place.name}'`);
        return;
      }
      fillInAddress(place, 'from');
    });
  }

  async function toAutocomplete() {
    const {Autocomplete} = google.maps.places;

    const autocomplete = new Autocomplete(getFormInputElement('to'), {
      fields: ['address_components', 'geometry', 'name'],
      types: ['address'],
    });

    autocomplete.addListener('place_changed', () => {
      const place = autocomplete.getPlace();
      if (!place.geometry) {
        // User entered the name of a Place that was not suggested and
        // pressed the Enter key, or the Place Details request failed.
        window.alert(`No details available for input: '${place.name}'`);
        return;
      }
      fillInAddress(place, 'to');
    });
  }

  async function initMapp(){
    await fromAutocomplete();
    await toAutocomplete();
  }

</script>
<script>

function getGeoLocation() {
    const geocoder = new google.maps.Geocoder();

    geocoder.geocode({
        'address': 'Dublin, Ireland'
    }, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            var latitude = results[0].geometry.location.lat();
            var longitude = results[0].geometry.location.lng();

            console.log(latitude, longitude)
        } else {
            alert("Geocode was not successful for the following reason: " + status);
        }
    });
}
window.onload = getGeoLocation;
</script>
{% endblock %}

{% block title %} Quickie | Home {% endblock %}

{% block content %}
<div class="main">

    <section class="step-1">
        <div class="header">
            <div class="header-text">
                Where you heading?
            </div>
        </div>
        <div class="ride-card">
            <form onsubmit="event.preventDefault(); handleStep1Submit()">
                <div class="from-to">
                    <div class="logo">
                        <p class="quickie-logo">Quickie</p>
                    </div>
                    <div class="from">
                        <svg class="left-icon" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            data-baseweb="icon">
                            <title>From</title>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm5-2a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z"
                                fill="currentColor"></path>
                        </svg>
                        <input type="text" name="from-location" placeholder="Enter location" id="from-input"/>
                        <i class="fa-solid fa-location-arrow fa-xl right-icon" title="Current Location"></i>
                    </div>
                    <div class="connector"></div>
                    <div class="to">
                        <svg class="left-icon" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            data-baseweb="icon">
                            <title>To</title>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 10h-4v4h4v-4ZM7 7v10h10V7H7Z"
                                fill="currentColor"></path>
                        </svg>
                        <input type="text" name="to-location" placeholder="Enter destination" id="to-input"/>
                    </div>
                    <div class="check-prices">
                        <input type="submit" name="submit" value="Check Rides" />
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="step-2">
        <div class="header">
            <div class="header-text">
                Choose your ride
            </div>
        </div>
        <div class="ride-card">
            <form action="/home" method="POST" class="requestForm">
                <div class="cars">
                    <div class="car-ride">
                        <div class="car-container">
                            <div class="logo">
                                <p class="quickie-logo">Quickie Cars</p>
                            </div>
                            {% for car in cars %}
                            <div class="car-card" data-car-name = '{{car.car_name}}' onclick="handleCarSelect(this)">
                                <div class="car-image">
                                    <img src="../static{{car.car_image_path}}" />
                                </div>
                                <div class="car-details">
                                    <div class="car-text">
                                        <div class="car-name-capacity">
                                            <div class="car-name">
                                                {{car.car_name}}
                                            </div>
                                            <div class="car-capacity">
                                                <i class="fa-solid fa-person"></i>
                                                {{car.passenger_capacity}}
                                            </div>
                                        </div>
                                        <div class="car-desc">
                                            {{car.car_description}}
                                        </div>
                                    </div>
                                </div>
                                <div class="car-price">
                                    €18.59
                                </div>
                            </div>
                            {% endfor %}
                            <div class="request-ride" onclick="handleRequestRide()">
                                <div class="request-ride-car">

                                </div>
                                <div class="request-ride-button">
                                    Request Ride
                                </div>
                                <input type="hidden" class="hiddenFrom" name="from-location" value="">
                                <input type="hidden" class="hiddenTo" name="to-location" value="">
                                <input type="hidden" class="hiddenCar" name="car-name" value="">
                            </div>
                        </form>
                        </div>
                    </div>
            </form>
        </div>
    </section>
    <section class="map">

    </section>
</div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const heading = document.querySelector(".header");
        heading.style.opacity = '1';
        heading.style.transform = 'translateY(-20%)';
        setTimeout(() => {
            const rideCard = document.querySelector(".ride-card");
            rideCard.style.opacity = '1';
        }, 500);
    });

    let fromLocation = null
    let toLocation = null

    function handleStep1Submit() {
        fromLocation = document.querySelector('#from-input').value
        toLocation = document.querySelector('#to-input').value

        if(!fromLocation || !toLocation){
            return
        }


        const step1 = document.querySelector(".step-1");
        const step2 = document.querySelector(".step-2");
        step1.style.transform = 'translate(-100%, -40%)';
        step1.style.scale = '0.9';

        step2.style.transform = 'translateX(-40%)';
        step2.style.opacity = '1';
        
        const step1heading = step1.querySelector(".header");
        const step2heading = step2.querySelector(".header");
        step1heading.style.opacity = '0';
        step2heading.style.opacity = '1';
        
    }

    let selectedCar = null

    function handleCarSelect(element) {
    if (selectedCar) {
        selectedCar.classList.remove('selected-car');
    }

    element.classList.add('selected-car');

    selectedCar = element;

    const requestRide = document.querySelector('.request-ride')
    const carDetails = requestRide.querySelector('.request-ride-car')

    const image = selectedCar.querySelector('img')
    const src = image.getAttribute('src')
    const price = selectedCar.querySelector('.car-price').innerHTML
    const name = selectedCar.getAttribute('data-car-name')

    carDetails.innerHTML = `
        <img src=${src} style='height:50px;width:auto;' />
        ${name}
        <b>${price}</b>
    `
    requestRide.style.opacity = 1

}

    function handleRequestRide(){
        if (selectedCar) {
            const carname = selectedCar.getAttribute('data-car-name')
            const hiddenCar= document.querySelector('.hiddenCar')
            const hiddenFrom = document.querySelector('.hiddenFrom')
            const hiddenTo = document.querySelector('.hiddenTo')


            hiddenCar.value = carname
            hiddenFrom.value = fromLocation
            hiddenTo.value = toLocation

            const form = document.querySelector('.requestForm')

            form.submit();


        } else{
            console.log('no car selected')
        }
    }
</script>
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCIJQqRBODWBiRFVNN8_QuniKcMnawuoQ&libraries=places,marker&callback=initMapp&solution_channel=GMP_QB_addressselection_v2_cAC" async defer></script>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=getGeoLocation&v=weekly"
      defer
    ></script>

{% endblock %}