{% extends "baseuser.html" %}

{% block head %}
<!-- REMOVE THIS META, ONLY FORT AUTO REFRESH -->
<!-- <meta http-equiv="refresh" content="7"> -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='driver.css') }}">
<script src="https://kit.fontawesome.com/4f541dc9c0.js" crossorigin="anonymous"></script>
<!-- <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCIJQqRBODWBiRFVNN8_QuniKcMnawuoQ&callback=console.debug&libraries=maps,marker&v=beta"> -->
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>

    let map, directionsService, directionsRenderer, startMarker, endMarker, isRideAccepted = false;

    function initMap() {
        // Initialize the map
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: { lat: latitude, lng: longitude },
            mapTypeId: "terrain",
            mapTypeControl: false,
        });

        google.maps.event.clearInstanceListeners(map);

        // Initialize the Directions service and renderer
        directionsService = new google.maps.DirectionsService();
        directionsRenderer = new google.maps.DirectionsRenderer({ map: map, suppressMarkers: true })

    }

    function createCarMarker() {
        const image = "{{ url_for('static', filename='icons/car-icon-small.png') }}"
        const carMarker = new google.maps.Marker({
            position: { lat: latitude, lng: longitude },
            map,
            icon: image,
        });
    }

    function calculateAndDisplayRoute(startLocation, endLocation) {
        // Define the start and end points
        const start = startLocation;
        const end = endLocation;

        // Request directions from the Directions service
        directionsService.route(
            {
                origin: start,
                destination: end,
                travelMode: 'DRIVING'
            },
            (response, status) => {
                if (status === 'OK') {

                    directionsRenderer.setDirections(response);

                    startMarker = new google.maps.Marker({
                        position: response.routes[0].legs[0].start_location,
                        map: map,
                        icon: "{{ url_for('static', filename='icons/circle.png') }}",
                        title: 'Start'
                    });

                    endMarker = new google.maps.Marker({
                        position: response.routes[0].legs[0].end_location,
                        map: map,
                        icon: "{{ url_for('static', filename='icons/map-pointer.png') }}", // Specify the path to your start marker icon
                        title: 'Start'
                    });

                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            }
        );
    }


    function resetMap() {
        initMap()
        createCarMarker()
    }
</script>


{% endblock %}

{% block title %} Quickie | Home {% endblock %}

{% block content %}
<section class="main">

    <section class="left-panel" style="justify-content: flex-start; margin-top: 50px;">


        <div class="driver-info">
            <div class="driver-image">
                <img src="data:image/png;base64,{{ profile_picture }}" alt="Profile Picture">

            </div>
            <div class="driver-details">
                <div class="driver-name">
                    {{user.firstname}} {{user.lastname}}
                </div>
                <div class="driver-rating">
                    <i class="fa-solid fa-star"></i>
                    {{driver_details.rating}}
                </div>
            </div>
        </div>
        <div class="driver-request-card"></div>
    </section>
    <section class="map" id="map">
    </section>
</section>
{% endblock %}

{% block js %}
<script>
    let latitude;
    let longitude;

    function getDriverLocation() {
        if (navigator.geolocation) {
            // If the Geolocation API is supported by the browser
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    // Success callback - position contains the user's location
                    latitude = position.coords.latitude;
                    longitude = position.coords.longitude;

                    // You can use the latitude and longitude to display or perform further actions
                    resetMap()
                },
                function (error) {
                    // Error callback - handle errors, if any
                    switch (error.code) {
                        case error.PERMISSION_DENIED:
                            console.error("User denied the request for Geolocation.");
                            break;
                        case error.POSITION_UNAVAILABLE:
                            console.error("Location information is unavailable.");
                            break;
                        case error.TIMEOUT:
                            console.error("The request to get user location timed out.");
                            break;
                        case error.UNKNOWN_ERROR:
                            console.error("An unknown error occurred.");
                            break;
                    }
                }
            );
        } else {
            // If Geolocation is not supported by the browser
            console.error("Geolocation is not supported by your browser.");
        }


    }
</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCIJQqRBODWBiRFVNN8_QuniKcMnawuoQ&libraries=places,marker&callback=getDriverLocation&solution_channel=GMP_QB_addressselection_v2_cAC"
    async defer></script>

<script>
    var socket;
    let requests = [];

    document.addEventListener('DOMContentLoaded', () => {
        goOnline();
    });


    function goOnline() {
        socket = io.connect('http://' + document.domain + ':' + location.port + '/sockets');

        socket.on('connect', function () {
            console.log('Connected to server');

            socket.on('ride_request', function (data) {
                // Handle the ride request, e.g., show a notification to the driver
                console.log('Received ride request:', data.message);
                console.log('from:', data.from_location)
                console.log('to:', data.to_location)
                console.log('price:', data.price)

                const requestCard = document.querySelector('.driver-request-card');
                console.log('ongoing request on screen?', requestCard.innerHTML !== '')
                if (requestCard.innerHTML !== '') {
                    let doesExist = requests.some(ride => ride.ride_id === data.ride_id);
                    if (!doesExist) {
                        requests.push(data);
                        console.log(requests)
                    }
                    return
                }
                handleRideRequest(data)
            });
            socket.on('ride_accepted_by_other_driver', function (data) {
                // Handle the ride request, e.g., show a notification to the driver
                console.log(data.message);
                const requestCard = document.querySelector('.driver-request-card');
                if (requestCard.dataset.rideId === data.ride_id) {
                    requestCard.style.height = '0px';
                    requestCard.style.opacity = '0';
                    resetMap()
                }

            })

            socket.on('ride_request_cancelled', function (data) {
                console.log(data.message);
                const requestCard = document.querySelector('.driver-request-card');
                const requestRideId = requestCard.querySelector('.ride-from-to-other').getAttribute('data-rideId');
                console.log(requestRideId, data.ride_id)
                if (requestRideId === data.ride_id) {
                    requestCard.innerHTML = ''
                    requestCard.style.height = '0px';
                    requestCard.style.opacity = '0';
                    resetMap()
                } else {
                    requests = requests.filter(ride => ride.ride_id !== data.ride_id);
                    console.log('removed the request from the list')
                    console.log(requests)
                }
            })
            // Socket on connect ends here
        }
        )
    };

    function handleRideRequest(data) {
        calculateAndDisplayRoute(data.from_location, data.to_location)

        const requestCard = document.querySelector('.driver-request-card');
        requestCard.innerHTML = `
                <div class="heading">
                Ride Request
            </div>
            <div class="ride-from-to-other" data-rideId="${data.ride_id}">
                <div class="ride-from-to">
                    <div class="trip-from">
                        <svg class="left-icon" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            data-baseweb="icon">
                            <title>From</title>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm5-2a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z"
                                fill="currentColor"></path>
                        </svg>
                        ${data.from_location}
                    </div>
                    <div class="connector"></div>
                    <div class="trip-to">
                        <svg class="left-icon" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            data-baseweb="icon">
                            <title>To</title>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 10h-4v4h4v-4ZM7 7v10h10V7H7Z"
                                fill="currentColor"></path>
                        </svg>
                        ${data.to_location}
                    </div>
                </div>
                <div class="other">
                    <div class="price">
                        €${data.price}
                    </div>
                    <div class="duration">
                        ${data.duration > 60 ? `${Math.floor(data.duration / 60)} hr ${(data.duration % 60)} mins` : `${data.duration} mins`}
                    </div>
                </div>
            </div>
            <div class="accept-reject">
                <div class="accept" onclick="handleAcceptRideRequest('${data.ride_id}')">
                    Accept
                </div>
                <div class="reject" onclick="handleRejectRideRequest('${data.ride_id}')">
                    Reject
                </div>
            </div>
        </div>`

        requestCard.style.height = 'fit-content';
        requestCard.style.opacity = '1';
    }

    function handleAcceptRideRequest(rideId) {
        const requestCard = document.querySelector('.driver-request-card');

        fetch(`/driver/ride_accept/${rideId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'current_location': `${latitude},${longitude}`
            })
        })
            .then(response => response.json())
            .then(result => {
                socket.emit('ride_accepted', { 'message': 'Ride request accepted', 'ride_id': rideId, 'driver_id': '{{user.id}}' });
                window.location.href = `/ride/accepted/${rideId}`

            })
    }

    function handleRejectRideRequest(rideId) {
        socket.emit('reject_ride_request', { 'message': 'Ride request rejected' });
        const requestCard = document.querySelector('.driver-request-card');
        requestCard.style.height = '0px';
        requestCard.style.opacity = '0';
        resetMap()

        setTimeout(() => {
            if(requests.length > 0){
                const data = requests.shift()
                handleRideRequest(data)
            }
        }, 600)
    }

</script>
{% endblock %}