{% extends "baseuser.html" %}

{% block head %}
<!-- REMOVE THIS META, ONLY FORT AUTO REFRESH -->
<!-- <meta http-equiv="refresh" content="7"> -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ride.css') }}">
<script src="https://kit.fontawesome.com/4f541dc9c0.js" crossorigin="anonymous"></script>
<!-- <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCIJQqRBODWBiRFVNN8_QuniKcMnawuoQ&callback=console.debug&libraries=maps,marker&v=beta"> -->
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    let map, directionsService, directionsRenderer;
  
    function initProjectedRide() {
      // Initialize the map
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 25
      });

      google.maps.event.clearInstanceListeners(map);
  
      // Initialize the Directions service and renderer
      directionsService = new google.maps.DirectionsService();
      directionsRenderer = new google.maps.DirectionsRenderer({ map: map });
  
      // Call the function to display the route
      calculateAndDisplayRoute();
    }
  
    function calculateAndDisplayRoute() {
      // Define the start and end points
      const start = '{{ride.from_location}}';
      const end = '{{ride.to_location}}';
  
      // Request directions from the Directions service
      directionsService.route(
        {
          origin: start,
          destination: end,
          travelMode: 'DRIVING'
        },
        (response, status) => {
          if (status === 'OK') {
            
            directionsRenderer.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        }
      );
    }
  </script>


{% endblock %}

{% block title %} Quickie | Home {% endblock %}

{% block content %}
<section class="main">

    <section class="left-panel" style="justify-content: center;">
        <div class="ride-card">
            <form onsubmit="event.preventDefault(); handleCancelRide('{{ride._id}}')" method="POST">
                <div class="from-to">
                    <div class="logo">
                        <p class="quickie-logo">Quickie</p>
                    </div>
                    <div class="from">
                        <svg class="left-icon" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            data-baseweb="icon">
                            <title>From</title>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm5-2a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z"
                                fill="currentColor"></path>
                        </svg>
                        <input type="text" name="from-location" placeholder="Enter location" value="{{ride.from_location}}" readonly/>
                    </div>
                    <div class="connector"></div>
                    <div class="to">
                        <svg class="left-icon" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            data-baseweb="icon">
                            <title>To</title>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 10h-4v4h4v-4ZM7 7v10h10V7H7Z"
                                fill="currentColor"></path>
                        </svg>
                        <input type="text" name="to-location" placeholder="Enter destination" value="{{ride.to_location}}" readonly/>
                    </div>
                    <div class="cancel-ride">
                        <input type="submit" name="submit" value="Cancel Ride" />
                    </div>
                </div>
            </form>
        </div>

        <div class="chosen-car">
            <div class="car-card">
                <div class="car-image">
                    <img src="../static{{car.car_image_path}}" />
                </div>
                <div class="car-details">
                    <div class="car-text">
                        <div class="car-name-capacity">
                            <div class="car-name">
                                {{car.car_name}}
                            </div>
                            <div class="car-capacity">
                                <i class="fa-solid fa-person"></i>
                                {{car.passenger_capacity}}
                            </div>
                        </div>
                        <div class="car-desc">
                            {{car.car_description}}
                        </div>
                    </div>
                </div>
                <div class="car-price">
                    €{{ride.price}}
                </div>
            </div>
        </div>
    </section>
    <section class="map-section" style="opacity: 30%;">>
        <div class="map" id="map">
       
        </div>
    </section>
    <div class="status">
        <div class="status-text">
            <p>Waiting for driver to accept your ride request...</p>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    var socket;

    document.addEventListener("DOMContentLoaded", () => {    
        socket = io.connect('http://' + document.domain + ':' + location.port + '/sockets');

    socket.on('connect', function() {
        console.log('Connected to server');
        socket.emit('broadcast_ride_request', { 'ride_id': '{{ride._id}}' });

        socket.on('ride_accepted_by_driver', function(data){
            console.log(data);
            window.location.href = '/ride/progress/{{ride._id}}';
        });
        })

    });

    function handleCancelRide(ride_id){
        const cancelConfirm = confirm("Are you sure you want to cancel this ride?");
        if(cancelConfirm){
            socket.emit('cancel_ride_request', { 'ride_id': ride_id })
            fetch(`/ride/cancel/${ride_id}`, {
                method: 'POST',
            }).then(response => response.json()).then(result => {
                console.log(result)
                if(result.status == 'success'){
                    socket.disconnect();
                    window.location.href = '/home';
                }
            });

        }
    }

</script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCIJQqRBODWBiRFVNN8_QuniKcMnawuoQ&callback=initProjectedRide"></script>

{% endblock %}